<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>WELCOME</h1>
    <h2>TO</h2>
    <h3>THE</h3>
    <h1>THUNDERDOME</h1>
    <h3>Four Hack-Bots Enter... One Hack-Bot Leaves!</h3>
    <img src="assets/images/yeoman.png" alt="I am Yeoman">
    <p class="lead">I will be your host today. You may call me Mr. Yeoman.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Current Games</h1>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="game in games">
        <li><a ng-click="viewGame(game)" tooltip="{{game.info}}">{{game.name}}<button type="button" ng-show="isAdmin()" class="close" ng-click="deleteGame(game)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form ng-show="isAdmin()" class="game-form">
    <label>Create a New Game</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new game here." ng-model="newGame">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addGame()">Add New Game</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
